/* style.css */
body, h2 ,p{
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.labelStyle {
    flex:0;
    display: block;
    margin-bottom: 10px;
}

.container {
    display: flex;
}

.space {
    height: 30vh;
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.col{
    width: 40%;
}
.formHeading {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}
.inputs{
    display: flex;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    width: 60%;
    height: 40px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(193, 181, 181);  /* You can adjust the color */
    border-radius: 4px;
    box-shadow: none;
    outline: none;
   
}
.text2{
    padding: 30px 0 0 35px;
    font-size: 18px;
}
.formDiv {
    height: 40vh;
    width: 57.90vw;
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 2;
    
}
.textdiv{
    padding: 6rem;
    width: 50vw;
    /* background-color: aqua; */
    font-size: 30px;
}

.imgBanner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('imgSmall.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

.splashText {
    position: absolute;  
    font-size: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    padding: 20px;
    color: white;
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    width: 100%;
}

.splashText h1 {
    font-size: 80px;
}

.splashText p {
    font-size: 20px;
}
.signUp{
    margin: 1.5rem 0 0 2.5rem;
    height: 2.5rem;
    width: 12rem;
    background-color: #596d48;
    color: #fbfcfb;
    font-size: 20px;
    font-family: cursive ;
    border: 0;
    border-radius: 5px;
}