/* 
body,h2{
    margin:0px;
    padding: 0px;
}
.form{

    display: flex;
}
.labelStyle
{
    /* display: block; 
    margin-bottom: 10px;

}
.container{
    display: flex;
}
.space{
    height:20vh;
    width:100%;
    background-color: gray;
}
.verticalSpace{
    width:25%;
    background-color: rgb(107, 208, 252);
}
.formHeading{
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    flex: 0;

}
input[type="text"],input[type="password"],input[type="email"],input[type="number"]{
    width: 35%;
    height: 35px;
}
.formDiv{
    height: 60vh;
    width:100%;

    background-color: burlywood;
    box-shadow: 5px;
    padding-left: 40px;
    /* padding-right: 80px; 
    flex-grow: 0;
    flex-shrink: 0;
}
.imgBanner{
    height: 100vh;
    width: 40vw;
    background-color: red;
    flex-shrink: 0;

} */


/* style.css */
body, h2 {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.labelStyle {
    flex:0;
    display: block;
    margin-bottom: 10px;
}

.container {
    display: flex;
}

.space {
    height: 20vh;
    width: 100%;
    background-color: rgb(243, 243, 243);;
}

.verticalSpace {
    width: 25%;
    background-color: rgb(107, 208, 252);
}
.col{
    width: 40%;
}
.formHeading {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}
.inputs{
    display: flex;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    width: 60%;
    height: 40px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(193, 181, 181);  /* You can adjust the color */
    border-radius: 4px;
    box-shadow: none;
    outline: none;
   
}

.formDiv {
    height: 60vh;
    width: 57.90vw;
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.imgBanner {
    height: 100vh;
    width: 40vw;
    background-color: red;
    flex-shrink: 0;
}
